<!DOCTYPE html>
<html lang="pt-br">
	<head>
		
		<title>Socket Chat</title>

		<!-- metatags -->
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--inclui estilo do bootstrap -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/theme.css" rel="stylesheet" type="text/css" media="screen">	
	</head>

	<body ng-app="socketApp">
		
		<!-- wrapper dos usuarios online -->
		<aside class="hidden-xs pull-left col-md-3 sidebar">
			<h4>Usuários</h4>
		</aside>

		<!-- container do chat -->
		<main class="col-xs-12 col-md-6 col-md-offset-3 wrapper" ng-controller="chatCtrl">

			<!-- titulo -->
			<div class="page-header">
				<h2>Socket chat</h2>
			</div>

			<div class="msg_container">
				<ul class="msg_wrapper" ng-repeat="item in lista" ng-class="item.class">
					<li>{{ item.msg }}</li>
				</ul>
			</div>

			<!-- form de enviar mensagens -->
			<form novalidate ng-submit="teste()">
				<textarea class="form-control" style="resize: none" placeholder="Escreva uma mensagem" ng-model="msg"></textarea>
				<button type="submit" class="btn btn-info margin-top pull-right">Enviar</button>
			</form>
		</main>		

		<!-- scripts -->
		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>